# Ignore all image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.tif
*.svg
*.webp
*.ico

# Ignore all video files
*.mp4
*.avi
*.mov
*.wmv
*.mkv
*.flv
*.webm
*.mpeg
*.mpg
*.3gp
*.m4v
*.qt

.glitchdotcom.json
.node-gyp
node_modules

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

database.db

# Ignore the assets folder
assets/

# Ignore extra files
extras/

.node-gyp
node_modules

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

database.db